#products{
  height: 751px;
}
#products .title {
  color: #0AA245;
  font-size: 40px;
  font-weight: bold;
  padding: 30px 0 30px 50px;
}

#products .products {
  padding-left: 280px;
}

#products .products .product {
  float: left;
  padding-left: 30px;
  text-align: center;
}

#products .products .product img {
  border: 1px #7E4300 solid;
  height: 300px;
  width: 300px;
}

#products .products .product .name {
  color: #7E4300;
  font-size: 25px;
  height:50px;
}
#products .products_container{
  height:350px;
}
#products #product_list{
  float: left;
  width: 239px;
}
#products #product_content{
  float: left;
  width: 951px;
  height: 721px;
}
#products .products_list_selecters{
  position: absolute;
  width: 237px;
  height:50px;
  cursor: pointer;
}
#products .products_list_selecters[target="product_1.html"]{
  top:300px;
}
#products .products_list_selecters[target="product_2.html"]{
  top:360px;
}
#products .products_list_selecters[target="product_3.html"]{
  top:420px;
}
#products .products_list_selecters[target="product_4.html"]{
  top:480px;
}
#products .products_list_selecters[target="product_5.html"]{
  top:540px;
}
#products .products_list_selecters[target="product_6.html"]{
  top:600px;
}
#products .products_list_selecters[target="product_7.html"]{
  top:660px;
}
#products .products_list_selecters[target="product_8.html"]{
  top:720px;
}
#products .products_list_selecters[target="product_9.html"]{
  top:780px;
}
#products .products_list_selecters[target="product_10.html"]{
  top:840px;
}
#product_content .products_row{
  width:951px;
}
#product_content .product_item{
  float:left;
  width: 166px;
  height: 222px;
  margin-left: 40px;
  margin-right: 30px;
  cursor: pointer;
}