#product .left_content {
  float: left;
  padding-left: 50px;
}

#product .left_content .name {
  color: #0AA245;
  font-family: Century Gothic;
  font-size: 60px;
  padding: 10px 0;
}

#product .left_content .gallery .main {
  height: 340px;
  width: 325px;
  cursor: pointer;
}

#product .left_content .gallery .previews {
  padding-top: 10px;
}

#product .left_content .gallery .previews .preview {
  float: left;
  margin-right: 10px;
  cursor: pointer;
}

#product .left_content .gallery .preview img:not(.product_10_popup) {
  height: 100px;
  width: 100px;
}

#product .left_content .gallery .preview img.product_10_popup {
  padding-left: 100px;
  padding-top: 100px;
}

#product .right_content {
  float: left;
  padding-left: 50px;
}

#product .right_content .content {
  height: 560px;
  position: absolute;
  width: 600px;
}

#product .right_content .title {
  color: #3FAE81;
  font-size: 34px;
  font-weight: bold;
  margin-left: -30px;
  padding: 0px;
}
#product .right_content .subtitle {
  margin-top: 20px;
}
#product .right_content .subtitle img {
  float:left;
}
#product .right_content .subtitle div {
  color: #3FAE81;
  font-size: 50px;
  font-weight: bold;
  line-height: 43px;
  vertical-align: middle;
}
#product .right_content .description {
  color: #7E4300;
  font-size: 20px;
}

/*#product .right_content features {
  bottom: 0;
  padding-top: 20px;
  position: absolute;
}*/
#product .right_content .material {
  margin-left: 53px;
  color: #6D6E70;
  font-size: 20px;
  font-weight:normal;
}
#product .right_content .material div {
  color: #E680AB;
  font-size: 20px;
  font-weight: bold;
  padding-top : 20px;
}

#product .right_content .features {
  margin-left: 53px;
}
#product .right_content .features div {
  color: #E680AB;
  font-size: 20px;
  font-weight: bold;
  padding-top : 20px;
}

#product .right_content .features .feature_text {
  color: #6D6E70;
  font-size: 20px;
  font-weight:normal;
  width: 496px;
  padding-top : 0px;
}
#product .right_content .features ul {
  margin: 0;
list-style: none;
padding-left: 0px;
}

#product .right_content .features ul li {
  color: #6D6E70;
  font-size: 20px;
/*  text-indent: 10px;*/
}

#product .right_content .colors{
  color: #E680AB;
  font-size: 20px;
  font-weight: bold;
  padding-top : 20px;
}
#product .right_content .colors div{
  margin-left: 53px;
}

#product .right_content .colors .colors_to_right{
  margin-left: 27px;
}

/* Custom CSS */
.product_6_colors {
  position: relative;
  left: -65px;
}

#product_7 {
  width: 600;
}

#product_7 .product_code {
  margin-bottom: 20px;
}

#product_7 img.float_left {
  margin-left: 20px;
}

.two_colors {
  position: relative;
  left: -105px;
}

.float_left {
  float: left;
}

.p_7_right {
  width: 220px;
}
